/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #589398;
$hover-color: darken($link-color, 40%);

/*-- scss:rules --*/
